home-cards-component > .cards {
  box-sizing: border-box;
  width: 100vw;
  padding: 60px 100px 150px;
}

home-cards-component > .cards::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 540px) {
  home-cards-component > .cards {
    padding: 60px 30px 50px;
}
}