trailer-component {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(4px);

  opacity: 0;
  z-index: -1;

  transition: 0.5s;
}

trailer-component[visible='true'] {
  opacity: 1;
  z-index: 99999;
}

iframe#youtube-player {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 640px) {
  iframe#youtube-player {
    width: 100vw;
  }
}
