@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html,
body {
  margin: 0;
  padding: 0;

  color: #fff;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  scroll-behavior: smooth;
}

button,
a {
  all: unset;
}

button {
  cursor: pointer;
}

background {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(31, 35, 38, 1);

  z-index: -99999;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  box-shadow: 550px 0px 100px 0px rgba(0, 0, 0, 0.9) inset;

  transition: 0.5s;
}

.page {
  transition: 0.3s;
}

.page:not(.active) {
  display: none;
  opacity: 0;
}

.page.active {
  display: inline-block;
  opacity: 1;
}
